<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/boardDetail.css}">
    <title>게시글 상세 조회</title>
</head>
<body>

<!-- 헤더 포함 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 게시글 상세 내용 -->
<main>
    <h2 th:text="${board.boardTitle}">게시글 제목</h2>
    <p>작성자: <span th:text="${board.boardWriter}">작성자명</span></p>
    <p>조회수: <span th:text="${board.boardHits}">0</span></p>
    <!--    <p>작성 시간: <span th:text="${#dates.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}">2024-01-01 12:00:00</span></p>-->
    <p>광역시: <span th:text="${board.provinceId}">서울시</span></p>
    <p>지역구: <span th:text="${board.districtId}">강남구</span></p>
    <div>
        <p>내용:</p>
        <div th:utext="${board.boardContents}">게시글 내용이 여기에 들어갑니다.</div>
    </div>

    <!-- 이미지들 -->
    <div th:if="${board.fileAttached == 1}">
        <div th:each="image : ${board.storedFileName}">
            <img th:src="@{|/upload/${image}|}" alt="게시글 이미지" width="100" height="100"/>
        </div>
    </div>
    <button type="button" onclick="listReq()">게시글 목록</button>

    <!-- 게시글 수정 페이지로 이동하는 버튼 -->
    <button type="button" onclick="updateReq()">게시글 수정</button>

    <!-- 게시글 삭제 -->
    <button type="button" onclick="deleteReq()">게시글 삭제</button>
    <!-- 댓글 작성 폼 -->
    <div id="commentForm">
        <h3>댓글 작성</h3>
        <form id="addCommentForm">
            <label for="comment">댓글 내용:</label>
            <textarea id="comment" name="commentContents" required></textarea>
            <button type="submit">댓글 작성</button>
        </form>
    </div>
    <!-- 댓글 목록 -->
    <div id="comments">
        <h3>댓글 목록</h3>
        <ul>
            <!-- 댓글 목록을 동적으로 추가할 부분 -->
        </ul>
    </div>

</main>

<!-- 푸터 포함 -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Ajax를 사용하여 댓글 목록과 댓글 작성 기능 추가 -->
<script>
    // 페이지 로딩 시 댓글 목록 불러오기
    $(document).ready(function () {
        loadComments([[${board.id}]]);
    });
    const listReq = () => {
        console.log("목록 요청");
        location.href = "/board";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${board.id}]];
        window.location.href = '/board/update/' + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${board.id}]];
        location.href = '/board/delete/' + id;
    }

    // 댓글 목록 불러오기
    function loadComments(boardId) {
        $.ajax({
            url: "/comment/" + boardId, // 게시글 id 추가
            type: "GET",
            success: function (comments) {
                // 댓글 목록을 동적으로 추가하는 로직
                if (comments !== 1) {
                    const commentsList = $("#comments ul");
                    commentsList.empty();
                    comments.forEach(function (comment) {
                        let commentItem = $('<li>');
                        commentItem.append('<p>작성자: ' + comment.commentWriter + '</p>');
                        commentItem.append('<p>' + comment.commentContents + '</p>');
                        commentItem.append('<p>' + comment.commentCreatedTime + '</p>');

                        commentsList.append(commentItem);
                    });
                }
            }
        });
    }

    // 댓글 작성 폼 제출 시
    $("#addCommentForm").submit(function (event) {
        event.preventDefault();
        const boardId = [[${board.id}]];
        const formData = $(this).serialize();
        $.ajax({
            url: "/comment/save/" + boardId,
            type: "POST",
            data: formData,
            success: function (data) {
                // 댓글 작성 후 댓글 목록 다시 불러오기
                if (data === 1) {
                    loadComments(boardId);
                    // 작성 폼 초기화
                    $("#comment").val("");
                }
            },
            error: function (data) {
                alert(data);
            }
        });
    });
</script>
</body>
</html>