<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>게시글 상세 조회</title>
</head>
<body>

<!-- 헤더 포함 -->
<div th:replace="~{fragments/header :: header}"></div>

<main class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 th:text="${board.boardTitle}" class="card-title mb-4">게시글 제목</h2>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>작성자</th>
                            <td><span th:text="${board.boardWriter}">작성자명</span></td>
                        </tr>
                        <tr>
                            <th>조회수</th>
                            <td><span th:text="${board.boardHits}">0</span></td>
                        </tr>
                        <tr>
                            <th>작성 시간</th>
                            <td><span th:text="${#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}">2024-01-01 12:00:00</span>
                            </td>
                        </tr>
                        <tr>
                            <th>광역시</th>
                            <td><span th:text="${board.provinceName}">서울시</span></td>
                        </tr>
                        <tr>
                            <th>지역구</th>
                            <td><span th:text="${board.districtName}">강남구</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-4">게시글 내용 :</h5>
                            <div th:utext="${board.boardContents}">게시글 내용이 여기에 들어갑니다.</div>
                        </div>
                    </div>
                    <!-- 이미지들 -->
                    <div th:if="${board.fileAttached == 1}">
                        <div th:each="image : ${board.storedFileName}" class="mb-3">
                            <img th:src="@{|/upload/${image}|}" alt="게시글 이미지" class="img-thumbnail" width="100"
                                 height="100"/>
                        </div>
                    </div>

                    <!-- 버튼들 -->
                    <div class="mb-4">

                        <div class="float-right">
                            <div class="btn-group" role="group">
                                <button type="button" onclick="listReq()" class="btn btn-primary mr-2">게시글 목록</button>
                                <button th:if="${board.memberEmail} == ${session.loginEmail}" type="button"
                                        onclick="updateReq()" class="btn btn-secondary mr-2">게시글 수정
                                </button>
                                <button th:if="${board.memberEmail} == ${session.loginEmail}" type="button"
                                        onclick="deleteReq()" class="btn btn-danger mr-2">게시글 삭제
                                </button>
                            </div>
                        </div>
                        <button th:if="${session.loginEmail != null && board.memberEmail != session.loginEmail}"
                                type="button"
                                onclick="oneToOneChat()" class="btn btn-success ">채팅하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- 댓글 작성 폼 -->
                    <div id="commentForm" class="mb-4">
                        <h4>댓글 작성</h4>
                        <form id="addCommentForm">
                            <div class="form-group">
                                <textarea id="comment" name="commentContents" class="form-control" rows="3"
                                          required></textarea>
                            </div>
                            <button type="submit" id="commentWrite" class="btn btn-primary float-right">댓글 작성</button>
                        </form>
                    </div>

                    <!-- 댓글 목록 -->
                    <div id="comments">
                        <h4 class="mb-4">댓글 목록</h4>
                        <ul class="list-group mb-4">
                            <!-- 댓글 목록을 동적으로 추가할 부분 -->
                        </ul>
                        <!-- 페이징을 위한 부분 추가 -->
                        <div id="commentPagination" class="d-flex justify-content-center text-center">
                            <ul class="pagination">
                                <!-- 동적으로 추가될 페이징 버튼들은 여기에 표시 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 푸터 포함 -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Ajax를 사용하여 댓글 목록과 댓글 작성 기능 추가 -->
<script th:inline="javascript">
    let currentPageValue = 1;
    let totalPageValue = 1;
    // 페이지 로딩 시 댓글 목록 불러오기
    $(document).ready(function () {
        const boardId = [[${board.id}]];
        loadComments(boardId, 1); // 첫 번째 페이지 로딩
    });
    const listReq = () => {
        console.log("목록 요청");
        location.href = "/board";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${board.id}]];
        window.location.href = '/board/update/' + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${board.id}]];
        $.get('/board/delete/' + id, function (data) {
            if (data === "게시글 삭제 성공") {
                alert("삭제하였습니다.");
                window.location.href = '/board';
            } else {
                alert("삭제에 실패하였습니다.");
            }
        });
    }
    const oneToOneChat = () => {
        console.log("1대1 채팅 시작");
        const email = [[${board.memberEmail}]];
        // GET 요청 보내기
        $.get("/api/chat/oneToOne", {memberEmail: email})
            .done(function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    console.log("Chat room found:", data);
                    // 채팅방이 있을 경우 채팅 페이지로 이동
                    window.location.href = '/chatList';
                } else {
                    console.error("Failed to find chat room. Status:", xhr.status);
                }
            })
            .fail(function (xhr, textStatus, errorThrown) {
                console.error("Error finding chat room:", errorThrown);
            });
    }
    /*<![CDATA[*/
    const loginEmail = /*[[${session.loginEmail}]]*/ 'default';  // 세션에서 가져온 이메일 정보
    /*]]>*/
    // 댓글 목록 불러오기
    function loadComments(boardId, page) {
        $.ajax({
            url: "/comment/" + boardId + "/paging?page=" + page, // 게시글 id 추가
            type: "GET",
            success: function (response) {
                console.log(response);
                const comments = response.commentList.content;
                currentPageValue = response.commentList.number + 1;
                totalPageValue = response.commentList.totalPages;
                console.log(comments);
                // 댓글 목록을 동적으로 추가하는 로직
                const commentsList = $("#comments ul");
                commentsList.empty();
                comments.forEach(function (comment) {
                    let commentItem = $('<li class="list-group-item">');
                    // 댓글 내용
                    commentItem.append('<h5 class="mb-1">작성자 : ' + comment.commentWriter + '</h5>');
                    commentItem.append('<p>' + comment.commentContents + '</p>');
                    // 댓글 작성 시간 포맷 변경 (예: 2024-01-01 12:00:00)
                    const formattedTime = new Date(comment.commentCreatedTime).toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'});
                    commentItem.append('<small>' + formattedTime + '</small>');

                    // 수정 및 삭제 버튼
                    if (comment.memberEmail === loginEmail) {
                        let buttons = $('<div class="btn-group float-right" role="group">');
                        buttons.append('<button type="button" class="btn btn-sm btn-primary mr-2" onclick="updateComment(' + comment.id + ')">수정</button>');
                        buttons.append('<button type="button" class="btn btn-sm btn-danger mr-2" onclick="deleteComment(' + comment.id + ", " + boardId + ')">삭제</button>');
                        commentItem.append(buttons);
                    }
                    commentsList.append(commentItem);
                });
                // 페이징 버튼 생성
                generatePagination(totalPageValue, currentPageValue);
            }
        });
    }

    // 페이징 버튼 생성
    function generatePagination() {
        const paginationContainer = $("#commentPagination ul");
        paginationContainer.empty();

        paginationContainer.append(`<li class="page-item ${currentPageValue === 1 ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="changePage(1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>`);

        const prevButton = $(`<li class="page-item ${currentPageValue === 1 ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="changePage(${currentPageValue - 1})" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>`);
        paginationContainer.append(prevButton);

        let pageStart = Math.max(1, currentPageValue - 2);
        let pageEnd = Math.min(totalPageValue, currentPageValue + 2);

        // 현재 페이지가 1 또는 2일 경우, pageEnd를 5로 제한
        if (currentPageValue <= 2) {
            pageEnd = Math.min(5, totalPageValue);
        }

        // 현재 페이지와 totalPages의 차이가 0 또는 1일 경우, pageStart를 조정
        if (totalPageValue - currentPageValue <= 1) {
            pageStart = Math.max(1, totalPageValue - 4);
        }

        for (let i = pageStart; i <= pageEnd; i++) {
            const pageButton = $(`<li class="page-item ${currentPageValue === i ? 'active' : ''}">
                                <a class="page-link" href="#" onclick="changePage(${i})">${i}</a>
                            </li>`);
            paginationContainer.append(pageButton);
        }

        const nextButton = $(`<li class="page-item ${currentPageValue === totalPageValue ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="changePage(${currentPageValue + 1})" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>`);
        paginationContainer.append(nextButton);

        paginationContainer.append(`<li class="page-item ${currentPageValue === totalPageValue ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="changePage(${totalPageValue})" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>`)
    }

    // 페이지 변경 시 호출되는 함수
    function changePage(page) {
        const boardId = [[${board.id}]];

        if (page >= 1 && page <= totalPageValue) {
            loadComments(boardId, page);
        }
    }

    let currentCommentId = null;
    let currentComment = null;

    // 댓글 수정
    function updateComment(commentId) {
        // 수정 로직 구현
        $.get('/comment/read/' + commentId, function (data) {
            currentCommentId = commentId;
            currentComment = data;
            // 폼에 데이터 적용
            $("#comment").val(currentComment.commentContents);
            $("#commentWrite").text("댓글 수정");
        });
    }

    // 댓글 삭제
    function deleteComment(commentId, boardId) {
        // 삭제 로직 구현
        $.get('/comment/delete/' + commentId, function (data) {
            // 폼에 데이터 적용
            alert(data);
            loadComments(boardId, 1);
        });
    }

    // 댓글 작성 폼 제출 시
    $("#addCommentForm").submit(function (event) {
        event.preventDefault();
        const boardId = [[${board.id}]];
        const formData = $(this).serialize();
        const flag = $("#commentWrite").text();
        if (flag === "댓글 작성") {
            $.ajax({
                url: "/comment/save/" + boardId,
                type: "POST",
                data: formData,
                success: function (data, textStatus, xhr) {
                    // 댓글 작성 후 댓글 목록 다시 불러오기
                    if (data === 1) {
                        alert("댓글 작성 성공");
                        loadComments(boardId, 1);
                        // 작성 폼 초기화
                        $("#comment").val("");
                    } else if (xhr.status == 401) {
                        alert("로그인이 필요합니다.");
                    } else {
                        alert("댓글 저장 실패");
                    }
                },
                error: function (data, status, error) {
                    alert("댓글 저장 실패");
                    window.location.href = "/member/login";
                }
            });

        } else {
            currentComment.commentContents = $("#comment").val();
            $.post("/comment/update/" + boardId,
                {
                    id: currentCommentId,
                    commentContents: currentComment.commentContents,
                    commentCreatedTime: null,
                    commentWriter: currentComment.commentWriter,
                    boardId: boardId
                }, function (data, textStatus, xhr) {
                    if (xhr.status === 200) {

                        alert(data);
                        loadComments(boardId, 1);
                        // 작성 폼 초기화
                        $("#comment").val("");
                        $("#commentWrite").text("댓글 작성");
                    } else if (xhr.status === 401) {
                        alert("로그인이 필요합니다.");
                    } else {
                        alert("댓글 업데이트 실패");
                    }
                });
        }
    });
</script>
</body>
</html>